.UrlFieldType {
  display: flex;
  flex-direction: column;
  .UrlFieldTypeLabel {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
  }
  // input {}
}

.UrlFieldType.Error {
  span {
    color: red;
  }
  input {
    background: red;
  }
}
