.UrlFieldType {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  .UrlFieldTypeLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }
  // input {}
}

.UrlFieldType.Error {
  span {
    color: red;
  }
  input {
    background: red;
  }
}
