@import "../colors.less";

.ButtonGroup {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  .child {
    margin: 8px 8px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
