@import "../typography.less";
@import "../colors.less";

@btnDefault: @zesty-gray;
@btnDefaultText: @white;
@btnSave: @zesty-green;
@btnCancel: @zesty-light-gray;
@btnWarn: @zesty-red;
@btnAlt: @zesty-orange;

//KIND: initial, outlined, reversed, flat
//TYPE: save, primary, secondary, tertiary,  cancel, destructive
//SIZE: compact, small
// EXAMPLE: <Button kind="outlined" type="tertiary" size="small">

.Button  {
  .bgd-tertiary();
  box-shadow: @boxShadow;
  font-weight: @font-weight-bold;
  color: @white;
  align-items: center;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  padding: 8px 16px;
  justify-content: flex-start;
  text-transform: uppercase;
  text-align: left;
  transition: all 0.3s ease;

  // icon
  .icon {
    margin-right: 8px;
    font-size: 13px;
    width: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: @boxShadowHover;
    outline: none;
  }
  &:active {
    box-shadow: none;
  }
  &:disabled {
    cursor: not-allowed;
  }

  // DEFAULT KIND
  &.primary {
    .bgd-primary();
    &:disabled {
      .bgd-disabled();
      background-color: @btnDisabled;
      color: @c-disabled;
    }
  }
  //DEFAULT TYPE
  &.save {
    .bgd-primary();
    &:disabled {
      .bgd-disabled();
      color: @white;
    }
  }
  &.secondary {
    .bgd-secondary();
    &:disabled {
      .bgd-disabled();
      color: @white;

      opacity: 0.4;
    }
  }
  &.tertiary {
    .bgd-tertiary();
    &:disabled {
      .bgd-disabled();
      background-color: @btnDisabled;
      color: @c-disabled;
    }
  }
  &.destructive {
    .bgd-destructive();
    &:disabled {
      .bgd-disabled();
      color: @white;

      opacity: 0.4;
    }
  }
  &.cancel {
    background-color: @zesty-dark-blue;
    opacity: 0.6;
    &:disabled {
      .bgd-disabled();
      background-color: @btnDisabled;
      color: @c-disabled;
    }
  }
  &.warn {
    .bgd-destructive();
    &:disabled {
      .bgd-disabled();
      color: @white;

      opacity: 0.4;
    }
  }
  &.alt {
    background-color: @btnAlt;
    border-bottom-color: darken(@btnAlt, 10%);
    border-right-color: darken(@btnAlt, 10%);
  }

  // OUTLINE KIND
  &.outlined {
    background-color: transparent;
    box-shadow: none;
    color: inherit;
    border: 1px solid;

    &:hover {
      box-shadow: none;
      border: 1px solid;
    }

    // OUTLINED TYPE
    &.save {
      color: @c-primary;
      border-color: @c-primary;
      border: 1px @c-primary solid;
      &:hover {
        .bgd-primary();
        color: @white;
      }
      &:disabled {
        .bgd-transparent();
        .c-disabled();
        border: solid 1px rgba(26, 32, 44, 0.6);
      }
    }
    &.primary {
      color: @c-primary;
      border-color: @c-primary;
      border: 1px @c-primary solid;
      &:hover {
        .bgd-primary();
        color: @white;
      }
      &:disabled {
        .bgd-transparent();
        .c-disabled();
        border: solid 1px rgba(26, 32, 44, 0.6);
      }
    }
    &.secondary {
      color: @c-secondary;
      border-color: @c-secondary;
      border: 1px @c-secondary solid;
      &:hover {
        .bgd-secondary();
        color: @white;
      }
    }
    &.tertiary {
      .c-disabled();
      border-color: @c-tertiary;
      border: 1px @c-tertiary solid;
      &:hover {
        .bgd-tertiary();
        color: @white;
        opacity: initial;
      }
      &:disabled {
        .bgd-disabled();
        background-color: @btnDisabled;
        color: @c-disabled;
        border: solid 1px @btnDisabled;
      }
    }
    &.destructive {
      color: @c-destructive;
      border-color: @c-destructive;
      border: 1px @c-destructive solid;
      &:hover {
        .bgd-destructive();
        color: @white;
      }
      &:disabled {
        .bgd-disabled();
        color: @white;
        opacity: 0.4;
        border: 1px @c-disabled solid;
      }
    }

    &.cancel {
      opacity: 0.6;
      color: @zesty-dark-blue;
      border-color: @zesty-dark-blue;
      &:hover {
        background-color: @zesty-dark-blue;
        color: @white;
      }
      &:disabled {
        .bgd-disabled();
        background-color: @btnDisabled;
        color: @c-disabled;
        border: solid 1px @btnDisabled;
      }
    }
    &.warn {
      color: @zesty-red;
      border-color: @zesty-red;
      &:hover {
        .bgd-destructive();
        color: @white;
      }
      &:disabled {
        .bgd-disabled();
        color: @white;
        opacity: 0.4;
        border: 1px @c-disabled solid;
      }
    }
  }

  //REVERSED KIND
  &.reversed {
    background-color: @white;
    color: inherit;
    &.primary {
      color: @c-primary;
      &:disabled {
        .bgd-disabled();
        color: @white;
        border: 1px @c-disabled solid;
      }
    }
    // REVERSED TYPE
    &.save {
      color: @c-primary;
      &:disabled {
        .bgd-disabled();
        color: @white;
        border: 1px @c-disabled solid;
      }
    }
    &.secondary {
      color: @c-secondary;
      &:disabled {
        .bgd-disabled();
        color: @white;
        opacity: 0.4;
        border: 1px @c-disabled solid;
      }
    }
    &.tertiary {
      color: @c-tertiary;
      &:disabled {
        background-color: @white;
        color: @c-disabled;
        opacity: 0.4;
        border: 1px @white solid;
      }
    }
    &.destructive {
      color: @c-destructive;
      &:disabled {
        .bgd-disabled();
        color: @white;
        opacity: 0.4;
        border: 1px @c-disabled solid;
      }
    }
  }

  //FLAT KIND
  &.flat {
    background: none;
    border: none;
    box-shadow: none;

    &.primary {
      color: @c-primary;
      &:hover {
        box-shadow: none;
        color: darken(@c-primary, 5%);
      }
    }
    //FLAT TYPE
    &.save {
      color: @c-primary;
      &:hover {
        box-shadow: none;
        color: darken(@c-primary, 5%);
      }
    }
    &.secondary {
      color: @c-secondary;
      &:hover {
        box-shadow: none;
        color: darken(@c-secondary, 5%);
      }
    }
    &.tertiary {
      color: @c-tertiary;
      &:hover {
        box-shadow: none;
        color: darken(@c-tertiary, 5%);
      }
    }
    &.destructive {
      color: @c-destructive;
      &:hover {
        box-shadow: none;
        color: darken(@c-destructive, 5%);
      }
    }
  }

  // BUTTON SIZE
  &.compact {
    padding: 0px 4px;
  }

  &.small {
    padding: 4px 10px;
    font-size: 0.9em;
  }

}
