@import "../typography.less";
@import "../colors.less";

@btnDefault: @zesty-gray;
@btnDefaultText: @white;
@btnSave: @zesty-green;
@btnCancel: @zesty-light-gray;
@btnWarn: @zesty-red;
@btnAlt: @zesty-orange;
@btnDisabled: rgba(26, 32, 44, 0.12);

.Button {
  align-items: center;
  background-color: @nav-background-color;
  border: 0;
  border-radius: 4px;
  box-shadow: @boxShadow;
  color: @white;
  cursor: pointer;
  display: flex;
  font-weight: @font-weight-bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
  padding: 8px 16px 8px 16px;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
  text-align: left;

  &.small {
    padding: 4px 10px;
    font-size: 0.9em;
  }

  &:hover,
  &:focus {
    box-shadow: @boxShadow;
    outline: none;
  }

  &.save {
    background-color: @zesty-green;
  }

  &.secondary {
    background-color: @zesty-blue;
  }

  &.subdued {
    background-color: @zesty-light-gray;
  }

  &.outlined {
    background-color: transparent;
    color: @zesty-light-gray;
    border: 1px @zesty-light-gray solid;
    box-shadow: none;
    &:hover {
      box-shadow: none;
      color: @zesty-gray;
      border: 1px @zesty-light-gray solid;
    }
  }
  &.compact{
    color: inherit;
    background-color: transparent;
    border: 1px solid;
    box-shadow: none;
    transition: all 0.3s;
    padding: 0px 4px;
    &:hover {
      box-shadow: none;
      color: @zesty-blue;
      border: 1px @zesty-blue solid;
    }
  }

  &.cancel {
    background-color: @zesty-dark-blue;
    opacity: 0.6;
  }

  &.warn {
    background-color: @zesty-red;
  }

  &.alt {
    background-color: @btnAlt;
    border-bottom-color: darken(@btnAlt, 10%);
    border-right-color: darken(@btnAlt, 10%);
  }

  &:disabled {
    background: @btnDisabled;
    color: @zesty-dark-blue;
    cursor: not-allowed;
    opacity: 0.4;
  }
  &:active {
    box-shadow: none;
  }

  .icon {
    margin-right: 8px;
    font-size: 13px;
  }
  &.small {
    .icon {
      font-size: 1em;
    }
  }
}
