@import "../typography.less";
@import "../colors.less";

.TextFieldType {
  display: flex;
  flex-direction: column;

  .TextFieldTypeLabel {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: @labelTextSize;
    line-height: 24px;
    color: #1a202c;
  }
}

.Description {
  font-size: 9px;
  color: @zesty-light-grey;
}

.TextFieldType.Error {
  input {
    border: solid 1px #9a2803;
  }
}
.ErrorDescription {
  padding-top: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #9a2803;
}
