.TextFieldType {
  display: flex;
  flex-direction: column;
  .TextFieldTypeLabel {
    display: flex;
    justify-content: space-between;
    // font-size: 0.9rem;
  }
  // input { }
}

.TextFieldType.Error {
  span {
    color: red;
  }
  input {
    background: red;
  }
}
