@import "../typography.less";
@import "../colors.less";

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.CopyChip {
    position: relative;
  &:hover {
    cursor: copy;
  }

  button {
      display: inline-block;
  }

  .Copied {
    position: absolute;
    top: 0px;
    left: 135px;
    animation: FadeAnimation 1s ease-in 0.2s forwards;
  }
}
