@import "../typography.less";
@import "../colors.less";



.CopyChip {
  position: relative;
  &:hover {
    cursor: copy;
  }

  button {
    display: inline-block;
    border-radius: 28px;
  }

  .CheckIcon {
    color: @zesty-green;
  }

}
