.options {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: baseline;
  .clear {
    flex: 2;
    .link {
      margin-top: 1rem;
      text-decoration: none;
      color: white;
      max-width: 2rem;
      font-size: 2rem;
    }
  }

  h1 {
    flex: 2;
    font-size: 1.6rem;
  }
}
