@import "../colors.less";

.Card {
  .CardHeader {
    padding: 0;
    &:hover,
    &:focus {
      background: lighten(@zesty-light-blue, 8%);
    }

    .HeaderWrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 14px 16px;

      .Caret {
        margin-right: 0.5rem;
        width: 10px;
        font-size: 15px;
      }

      .ProvidedContent {
        flex: 1;
      }
    }
  }
}
