@import "../colors.less";

.Tag {
  background-color: @zesty-blue;
  color: @white;
  border-radius: 3px;
  padding: 0.5rem 0.25rem;
  margin: 0.25rem;
  display: flex;
  align-items: center;
  height: 28px;

  i {
    margin: 2px;
    font-size: 14px;
  }
  a {
    margin: 2px;
    color: @white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
