{
  "presets": [
    ["env", {
      "modules": false
    }],
    "react",
    "stage-2"
  ],
  "plugins": ["external-helpers"]
}


/*
{
  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-stage-3"]
}
*/
