/*  "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-stage-2"] */
{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"], "@babel/react"]
    }
  }
}
