@import "../typography.less";
@import "../colors.less";

.CopyButton {
  position: relative;
  &:hover {
    cursor: copy;
  }

  button {
    display: inline-block;
  }

  .Icon {
    width: 16px;
  }
  .CheckIcon {
    color: @zesty-green;
  }
}
