@import "../colors.less";

.TextareaFieldType {
  display: flex;
  flex-direction: column;
  .TextareaFieldTypeLabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }
  input {
    display: block;
    width: 100%;
  }
}

.TextareaFieldType.Error {
  input {
    border: solid 1px #9a2803;
  }
}
