@import "../typography.less";
@import "../colors.less";

.Search {
  display: flex;
  flex-direction: row;
  margin: 8px 0 4px 0;

  .Input {
    border-radius: 28px 0 0 28px;
    border-right: none;
    -webkit-appearance: none;
  }
  .RoundedSearchIcon {
    box-shadow: none;
    background: @white;
    border: @selectBorder;
    border-left: none;
    border-radius: 0 28px 28px 0;
    color: @zesty-gray;
  }
}
