@import "../colors.less";

.Search {
  display: flex;
  flex-direction: row;
  margin: 8px 0 4px 0;

  .Input {
        border-radius: 3px 0 0 3px;
    -webkit-appearance: none;

    &.Bubble{
      border-radius: 28px 0 0 28px;
    }
  }

  // .Btn {
  //   border: 1px solid #404759;
  //   border-radius: 0 3px 3px 0;
  //   background-color: #404759;
  //   .Icon {
  //     font-size: 16px;
  //     margin: 0;
  //   }
  // }
}
