@import "../colors.less";

.Card {
  background-color: #ffffff;
  border: 1px solid @zesty-light-blue;
  border-radius: 4px;
  margin: 16px;
}
.CardHeader {
  padding: 14px 16px;
  background: lighten(@zesty-light-blue, 10%);
  box-shadow: inset 0px -1px 6px @zesty-light-blue;
  font-weight: 600;

  svg {
    margin-right: 8px;
  }
}

.CardContent {
  flex: 1;
  padding: 16px;
  ul {
    padding-left: 10px;
  }
}

.CardFooter {
  padding: 8px 16px;
}
