@import "../colors.less";

.Card {
  background-color: #ffffff;
  border: 1px solid @zesty-light-blue;
  border-radius: 4px;
  margin: 16px;
}
.CardHeader {
  padding: 12px 16px;
  background: lighten(@zesty-light-blue, 10%);
  font-weight: 600;

  svg {
    margin-right: 8px;
  }
}

.CardContent {
  box-shadow: 0px -5px 8px lighten(@zesty-light-blue, 4%);
  flex: 1;
  padding: 16px;
  ul {
    padding-left: 10px;
  }
}

.CardFooter {
  padding: 8px 16px;
}
