// @import url('../../../../core/colors.less');

.showcase {
  // background-color: @zesty-white;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-items: center;
  .description {
    margin: 2rem;
  }
  .usage {
    margin: 2rem;
    display: grid;
    grid-gap: 1rem;
    min-width: 10rem;
  }
}
