@import "../colors.less";
@import "../typography.less";

.ToggleButton {
  display: flex;
  cursor: pointer;
  padding: 3px;
  border-radius: 4px;
  border: 1px #ccc solid;
  background-color: @bright-gray;

  .default {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    // line-height: 24px;
    letter-spacing: 0.1px;
    border-radius: 4px;
    color: #8490a6;
  }

  .Selected {
    background-color: #336edb;
    color: @white;
    border-radius: 4px;
    box-shadow: @boxShadow;

    &.on {
      margin-left: -3px;
    }
    &.off {
      margin-right: -3px;
      z-index: 1;
    }
  }

  .disabled {
    .Selected {
      background-color: #9ba1a9;
    }
  }
}
