.ToggleButton {
  display: flex;
  padding: 8px;
  cursor: pointer;
  .on {
    padding: 8px 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1a202c;
    background-color: #f2f7fc;
    box-shadow: inset 0 -2px 2px 0 rgba(26, 32, 44, 0.24),
      inset 0 0 2px 0 rgba(26, 32, 44, 0.12);
    p {
      opacity: 0.6;
    }
  }
  .off {
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #1a202c;
    background-color: #f2f7fc;
    box-shadow: inset 0 -2px 2px 0 rgba(26, 32, 44, 0.24),
      inset 0 0 2px 0 rgba(26, 32, 44, 0.12);
    p {
      opacity: 0.6;
    }
  }
  .Selected {
    background-color: #336edb;
    color: #fff;
    border-radius: 4px;
    box-shadow: none;
    p {
      opacity: 1;
    }
    &.on {
      margin-left: -3px;
    }
    &.off {
      margin-right: -3px;
      z-index: 1;
    }
  }
}
