@import "../colors.less";
@import "../typography.less";

.Description {
  font-size: @helper-text-font-size;
  font-family: @secondary-font;
  color: @zesty-light-gray;
  padding-top: 5px;
  margin-left: 3px;
  text-align: left;
}
