@import "../typography.less";

.EditorFieldType {
  .EditorFieldTypeLabel {
    display: flex;
    margin-bottom: 3px;
    align-items: flex-end;
    font-size: @FieldLabelSize;

    & span:first-child {
      flex: 1;
    }

    .EditorSelection {
      margin-left: auto;
      min-width: 150px;
      // height: 30px;
    }
  }

  .EditorFieldTypePM {
    background: #eaecf1;
    border: 1px solid #eaecf1;
    border-radius: 4px;
    display: flex;
  }
}
