@import "../../colors.less";

.item {
  display: flex;
  align-items: baseline;
  i {
    color: @zesty-gray;
    margin-right: 0.5rem;
    // &:last-child {
    //   padding: 1rem;
    // }
  }

  a {
    padding: 0.5rem;
    text-decoration: none;
    color: @zesty-light-blue;
    flex: 1;
    // span {
    //   padding-left: 0.5rem;
    // }
  }
  &:hover {
    background-color: lighten(@nav-border-color, 6%);
  }
}

.active {
  // background-color: lighten(@nav-border-color, 6%);
  transition: all 0.2s ease;
  i {
    color: @zesty-light-gray;
  }
}

.depth4 {
  background-color: darken(@nav-border-color, 2%);
}
.depth3 {
  background-color: darken(@nav-border-color, 4%);
}
.depth2 {
  background-color: darken(@nav-border-color, 9%);
}
.depth1 {
  background-color: darken(@nav-border-color, 12%);
}

.hover {
  background-color: lighten(@nav-border-color, 6%);
}

.selected {
  // background-color: lighten(@nav-border-color, 12%);
  i {
    &:first-child {
      color: @zesty-orange;
    }
  }
}
