.CurrencyFieldTypeLabel {
  display: flex;
  max-width: 20.5rem;
  justify-content: space-between;
  font-size: 0.9rem;
}
.CurrencyFieldType {
  .Overlap {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 20.5rem;
    .SelectCurrency {
      grid-row-start: 1;
      grid-column-start: 1;
      height: 34px;
      max-width: 20.5rem;
    }
    .CurrencyInput {
      margin-left: 5.5rem;
      grid-row-start: 1;
      grid-column-start: 1;
      z-index: 1;
      width: 15rem;
      height: 34px;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
